<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre type activity:</strong>
  <%= @type_activity.nombre_type_activity %>
</p>

<%= link_to 'Edit', edit_type_activity_path(@type_activity) %> |
<%= link_to 'Back', type_activities_path %>
