<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre spectator:</strong>
  <%= @spectator.nombre_spectator %>
</p>

<%= link_to 'Edit', edit_spectator_path(@spectator) %> |
<%= link_to 'Back', spectators_path %>
