.nav-wrapper{
    background-color: darkorange;
    
}
select {
    display: flex !important;
}
input[type=text]{
    text-transform: capitalize;
}
.ui-dialog .ui-dialog-buttonpane button {
   
    display: none;
}