



<p id="notice"><%= notice %></p>
<% @teacher.university_id %>
<%= puts @teacher.inspect %>

<p>
  <strong>User:</strong>
  <%= @teacher.user_id %>
</p>

<p>
  <strong>University:</strong>
  <%= @teacher.university %>
</p>




